/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: black;
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
	font-size: 2em;
	font-weight: 300;
	text-align: center;
}

p {
	text-align: center;
	width: 80%;
	font-weight: 300;
	line-height: 1.2em;
	margin-top: 15px;
}

#background {
	min-width: 700px;
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../images/sb-sunset.jpg);
	background-size: cover;
}


#content {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: space-around;
	-webkit-flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

#col-l {
	margin-left: 2%;
	position: relative;
	width: 45%;
	height: 400px;
}

#col-r {
	margin-right: 2%;
	position: relative;
	width: 45%;
	height: 400px;
}


#form {
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: white;
}

#form-container {
	position: relative;
	height: 80%;
	width: 80%;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 5px solid black;
}

#form-controls {
	margin-top: 20px;
}

#myMap {
	margin-left: auto;
	margin-right: auto;
	border: 5px solid white;
	position: relative;
	height: 390px;
}






























