* {
	padding: 0;
	margin: 0;
	outline: 0;
}


html,body {
	height: 100%;
	min-height: 525px;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

#container {
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-flex-direction: column;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-image: url(../images/suzalo-library.jpg);
	background-size: cover;
	background-position: center;

}

#color-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.5);
}

#title {
	width: 80%;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	color: white;
	margin-right: auto;
	margin-left: auto;
	padding: 2%;
	background-color: rgba(0,0,0, .5);
}

#title h1 {
	font-weight: 100;
	font-size: 4vw;
	letter-spacing: .1em;
}

#title h2 {
	font-size: 3vw;
	font-weight: 100;
	letter-spacing: .2em;
}

#form {
	position: relative;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	padding: 2% 2% 4% 2%;
	background-color: rgba(0,0,0, .5);
	transition: height .5s;
}

#form-box {
	text-align: center;
	position: relative;
	height: 100%;
	widows: 100%;
}

#userInput {
	margin-top: 15px;
}

#form-box p {
	display: none;
	color: white;
}

#error {
	margin-top: 4%;
	font-size: 2vw;
}

#container h3 {
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-weight: 100;
	letter-spacing: .1em;
	font-size: 2.75vw;
}

#results-container {
	width: 80%;
	position: relative;
	padding: 2%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	background-color: rgba(0,0,0, .5);
}

#results-container ul {
	font-size: 2vw;
	margin-top: 2%;
	font-weight: 100;
	color: white;
	list-style-type: none;
	text-align: center;
}

